root {
    --left-space: 40px;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Norse Bold";
    src: url("Norse-Bold.otf");
}

.content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #F9FAFB;
    
}

.image-section {
    background-position: center center;
    background-image: url("images/leaf.jpg");
    width: 65%;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.banner {
    margin-top: 20vh;
    font-size: 5.5rem;
    font-family: "Norse Bold";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.4)
}

.banner img {
    height: 125px;
}

.attribution {
    font-size: 0.9rem;
}

.text-section {
    font-size: 24px;
    font-weight: 800;
    margin-left: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

input {
    width: 200px;
}

fieldset {
    border: none;
    padding: 0;
    margin-bottom: 10px;
}

form fieldset {
    background-color:#FFFFFF ;
}

form input {
    display: block;
}

form div {
    display: flex;
}

form p {
    margin-right: 50px;
    color: rgb(37, 30, 30);
    font-size: 14px;
    font-weight: 200;
}

form button {
    color: white;
    background-color: #596D48;
    padding: 10px 40px;
    margin-top: 32px;
    font-size: 24px;
    border: none;
    border-radius: 8px;
}

.log-in {
    margin-top: 32px;
}