body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-color: #F9FAFB;
    
}

.image-section {
    background-image: url("images/sign-up.jpg");
    width: 100%;
    background-size: cover;
}

.text-section {
    padding: 40px;
    font-size: 24px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-1 {
    
}

fieldset {
    border: none;
    padding: 0;
}

form fieldset {
    background-color:#FFFFFF ;
}

form input {
    display: block;
}

form div {
    display: flex;
}

form p {
    margin-right: 50px;
    color: rgb(37, 30, 30);
    font-size: 14px;
    opacity: 2;
}

form button {
    color: white;
    background-color: #596D48;
    padding: 10px 40px;
    margin-top: 32px;
}

.log-in {
    margin-top: 32px;
}